<div class="title">
    <h1>Ver Mascota</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Bartolo</mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong> Labrador </p>
            <p><strong>Color:</strong> Marron </p>
            <p><strong>Peso:</strong> 25 Kgs </p>
            <p><strong>Edad:</strong> 4 Años </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>
