<div class="title">
    <h1>Ver Mascota</h1>
</div>
<!-- <div *ngIf="mascota$ | async as mascota" class="container"> -->
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="mascota != null" class="container">
    <mat-card class="card">
        <mat-card-title>{{ mascota.nombre }}</mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong> {{ mascota.raza }} </p>
            <p><strong>Color:</strong> {{ mascota.color }} </p>
            <p><strong>Peso:</strong> {{ mascota.peso }} Kgs </p>
            <p><strong>Edad:</strong> {{ mascota.edad }} Años </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listMascotas" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>