table {
    width: 100%;
  }

  .title {
    padding: 30px;
    background-color: #666;
    text-align: center;
    color: white;
  }

  .container {
    margin: 0 20%
  }

  td, th {
    width: 15%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .delete {
    cursor: pointer;
    color: #E15639
  }

  .edit {
    cursor: pointer;
    color: #1878B0
  }

  .search {
    cursor: pointer;
  }

  .agregar {
    font-size: 10px;
    line-height: 28px;
  }