/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  padding: 30px;
  background-color: #666;
  text-align: center;
  color: white;
}

.container {
  margin: 0 20%
}